# ignore objects, archives and Qt files
*.[oa]
moc_*.cpp
ui_*.h
qrc_*.cpp
.build/*
Plugins

#ignore the qmake os x files
*xcodeproj
*.pro.user
*Makefile

#ignore the output files
doc/html
RistorNAT
Database/DatabaseSchema.sql
Database/DatabaseFn.sql

#ignore the os x useless file
RistorNAT.app
*DS_Store
*.dmgpkg

#ignore the Linguist files
*.qm
